<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
    <link rel="stylesheet" href="/css/answer.css">
    <meta charset="utf-8">
    <title>Answer - FaceBluff</title>
  </head>
  <body>
    <%- include("headerLogged.ejs") %>
    <div class="content">
      <div class="titulo">
        <h1> <%= question.question.text %> </h1>
      </div>
      <div class="seccion">
        <div class ="seccionRespuestas">
          <form class="" action="" method="post">

            <% let i = 0;
            for(i=0; i<question.answers; i++){ %>
            <div class="respuesta"><input class="" type="radio" name="gender" value=<%= i %>> checked><%=answer[i].text %></div>
            <% }; %>

            <div class="respuesta"><input class="" type="radio" name="gender" value=<%=i %>>>Otra:&#32;<input class="inputText" type="text" name="" value=""></div>
            <div class="contBoton">
              <span><input type="submit" value="Contestar" class="boton"></span>
              <input type="hidden" name="friendId" value=<%=friend%>>
    				</div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
