<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	<link rel="stylesheet" href="/CSS/friends.css">
    <meta charset="utf-8">
    <title>Mis amigos - FaceBluff</title>
  </head>
  <body>
	<%- include("headerLogged.ejs") %>
	<div class="content">
		<div class="titulo">
			<h1>Solicitudes de amistad</h1>
		</div>
		<div class="seccion">
			<div class="solucitudes">
				<% if (friendRequest.length != 0) { %>
					<% friendRequest.forEach((request)=>{ %>
					<div class="contSolicitud">
						<img src='/getUserImage/<%= request.email %>' alt="Imagen de Perfil" class="miniaturaPerfil"/>
						<span class="nombreUsuarioSolicitudes"> <%= request.name %> </span>
						<form action="/answerRequest" method="post">
						<input type="hidden" name="id" value= <%= request.id %> >
						<div class="contBoton">
							<input type="submit" name="botonSolicitud" class="botonPequeno aceptarSolicitud" value="Aceptar"></input>
							<input type="submit" name="botonSolicitud" class="botonPequeno rechazarSolicitud" value="Rechazar"></input>
						</div>
						</form>
					</div>
					<%})%>
				<% } else { %>
					<div class="contSinAmigos">
						<span></span>
						<span>No tienes solicitudes</span>
					</div>
				<% } %>
			</div>
		</div>
		<div class="titulo">
			<h1>Búsqueda de amigos</h1>
		</div>
		<div class="seccion">
			<div class="busqueda">
				<div class="contBusqueda">
					<form class="formularioBusqueda" action="/buscarAmigo" method="POST">
						<span>Nombre</span>
						<span><input type="text" class="inputText" name="name"/></span>
						<div class="contBoton">
							<input type="submit" name="botonBuscar" class="botonPequeno" value="Buscar"></input>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="titulo">
			<h1>Mis amigos</h1>
		</div>
		<div class="seccion">
			<div class="amigos">
				<% if (friends.length != 0) { %>
					<% friends.forEach(function(friend){ %>
						<div class="contAmigos">
							<img src='/getUserImage/<%= friend.email %>' alt="Imagen de Perfil" class="miniaturaPerfil"/>
							<span><%= friend.name %></span>
						</div>
					<% }) %>
				<% } else { %>
					<div class="contSinAmigos">
						<span></span>
						<span>No tienes amigos</span>
					</div>
				<% } %>
			</div>
		</div>
	</div>
  </body>
</html>
