<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	<link rel="stylesheet" href="/CSS/modify_user.css">
    <meta charset="utf-8">
    <title>Modificar usuario - FaceBluff</title>
  </head>
  <body>
		<%- include("headerLogged.ejs") %>
		<div class="content">
			<div class="titulo">
				<h1>Modificar usuario</h1>
			</div>
			<div class="seccion">
				<div class="newUser">
						<% if (error != null) { %>
							<div class="contError">
								<span class="error"><pre><%= error %></pre></span>
							</div>
						<% } %>
					<form action="/doModify" method="POST" class="formularioModifyUser" enctype="multipart/form-data">
						<div class="contDatosModifyUser">
							<span>Email</span><span><input name="email" type="text" class="inputText" value= <%= user.email %> /></span>
							<span>Contraseña</span><span><input name="password" type="password" class="inputText" placeholder="Dejar en blanco si no se quiere cambiar"/></span>
							<span>Nombre completo</span><span><input name="name" type="text" class="inputText" value= '<%= user.name %>' /></span>
							<span>Sexo</span>
							<span>
								<input type="radio" name="gender" class="inputRadio" value="Hombre" <%= user.gender=="Hombre" ? "checked":"" %> /> Masculino
								<input type="radio" name="gender" class="inputRadio" value="Mujer" <%= user.gender=="Mujer" ? "checked":"" %> /> Femenino
								<input type="radio" name="gender" class="inputRadio" value="Otro" <%= user.gender=="Otro" ? "checked":"" %> /> Otro
							</span>
							<span>Fecha de nacimiento</span><span><input name="birth" type="date" class="inputText" value='<%= user.birthdate %>' /></span>
							<span>Imagen de perfil</span><span><input name="image" type="file" class="inputArchivo"/></span>
							<span>Borrar Imagen</span><span><input name="deleteImage" type="checkbox" value='false'/></span>
						</div>
						<div class="contBoton">
							<span><input type="submit" value="Guardar Cambios" class="boton"/></span>
						</div>		
					</form>
				</div>
			</div>
		</div>
  </body>
</html>
