<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	<link rel="stylesheet" href="/CSS/my_profile.css">
    <meta charset="utf-8">
    <title>Tu Perfil - FaceBluff</title>
  </head>
  <body>
			<%- include("headerLogged.ejs") %>
	<div class="content">
		<div class="titulo">
		  <h1>Tu Perfil</h1>
		</div>
		<div class="seccion">
			<div class="perfil">
			
				<div class="informacionPerfil">
					<img  src='/getCurrentUserImage' class="miniaturaPerfilGrande" alt="Imagen de Perfil">
					<h2 id="nombreUsuario"><%= currentUser.name%></h2>
					<h3 id="edadUsuario"><%= currentUser.years %> Años</h3>
					<h3 id="sexoUsuario"><%= currentUser.gender %></h3>
					<h3 id="puntuacionUsuario"><%= currentUser.points %> Puntos</h3>
				
				</div>
				<div class="contBoton">
					<form action="/modify_user" method="get">
						<input type="submit" name="botonModificarPerfil" class="boton modificarPerfil" value="Modificar Perfil"></input>
					</form>
				</div>
			
				
		</div>
	  </div>
	</div>
</body>
</html>
