<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pregunta - FaceBluff</title>
    <link rel="stylesheet" href="/css/cabecera.css">
    <link rel="stylesheet" href="/css/practica.css">
    <link rel="stylesheet" href="/css/question.css">
  </head>
  <body>
    <body>
			<%- include("headerLogged.ejs") %>
			</div>

			<div class="content">
				<div class="titulo">
					<h1><%=question.question.text%></h1>
				</div>
				<div class="seccion">
				
			<div class="contestarPregunta">

				<% if (!responsed){ %>
				<h2>No has contestado a esta pregunta.</h2>
				<div class="contBoton">
					<span>
						<form action="/questions/answer/<%=question.question.id+'/'+currentUser.id%>" method="get">
						<input type="submit" value="Contestar Pregunta" class="boton botonAncho"/>
						</form>
						</span>
				</div>
				<% }else{ %>
				<h2>Ya has contestado esta pregunta</h2>
				<% } %>
				<div class="contAmigos">

				<h2>Los siguientes amigos han contestado a esta pregunta</h2>

				<% if (users != null && users.length > 0){ %>
					<% users.forEach(function(friend){ %>
						<div class="contAmigo">
							<img src="/users/getUserImage/<%= friend.email %>" alt="Imagen de Usuario" class="miniaturaPerfil"/>
							<a href=<%="/users/profile/"+friend.id %> class="linkNav"><span><%= friend.name %></span></a>
							<div class="contBoton">
								<span>
									<% if (!friend.responsed) { %>
									<form action="/questions/answer/<%=question.question.id%>/<%=friend.id%>" method="get">
										<input type="submit" value="Adivinar" class="boton botonMediano"/>
									</form>
									<% } else if (friend.guessed) { %>
										<h3>Has acertado</h3>
									<% } else { %>
										<h3>Has fallado</h3>
									<% } %>										
									</span>
							</div>
						</div>
					<% }) %>
				<% } else { %>
					<div class="contSinResultados">
							<span>No se han encontrado resultados</span>
						</div>
				<% } %>
				

					
				</div>


			</div>
				</div>
			</div>
  </body>
</html>
