<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pregunta - FaceBluff</title>
    <link rel="stylesheet" href="/css/cabecera.css">
    <link rel="stylesheet" href="/css/practica.css">
    <link rel="stylesheet" href="/css/question.css">
  </head>
  <body>
    <body>
			<%- include("headerLogged.ejs") %>
			</div>

			<div class="content">
				<div class="titulo">
					<h1><%= question.text %></h1>
				</div>
				<div class="seccion">
				
			<div class="contestarPregunta">
				<h2>No has contestado a esta pregunta.</h2>
				<div class="contBoton">
					<span><input type="button" value="Contestar Pregunta" class="boton botonAncho" onClick="location.href = '/questions/questions'"/></span>
				</div>

				<div class="contAmigos">

				<h2>Los siguientes amigos han contestado a esta pregunta</h2>

				<% if (users != null){ %>
					<% users.forEach(function(friend){ %>
						<div class="contAmigo">
							<img src="/users/getUserImage/<%= friend.email %>" alt="Imagen de Usuario" class="miniaturaPerfil"/>
							<a href=<%="/users/profile/"+friend.id %> class="linkNav"><span><%= friend.name %></span></a>
							<div class="contBoton">
								<span><input type="button" value="Adivinar" onClick="location.href = '/questions/questions'" class="boton botonMediano"/></span>
							</div>
						</div>
					<% }) %>
				<% } else { %>
					<div class="contSinResultados">
							<span>No se han encontrado resultados</span>
						</div>
				<% } %>
				

					
				</div>


			</div>
				</div>
			</div>
  </body>
</html>
