<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	  <link rel="stylesheet" href="/CSS/search.css">
    <title>Busqueda - FaceBluff</title>
  </head>
  <body>
    <%- include("headerLogged.ejs") %>

    <div class="content">
      <div class="titulo">
        <h1>Resultados de búsqueda: </h1>
      </div>
      <div class="seccion">
        <div class="resultados">

          <% list.forEach((amigo)=>{ %>
          
          <div class="contResultado">
            <img src=<%= "/getUserImage/"+amigo.email %> alt="Imagen del perfil" class="miniaturaPerfil">
            <a href= <%="/profile/"+amigo.id %> ><h2><%= amigo.name %> </h2> </a>
            <div class="contBoton">
              <% if(amigo.status == null || amigo.status == 2){ %>
              <form action="/sendFriendRequest" method="post">
                <input type="submit" name="botonSolicitarAmistad" class="botonMediano" value="Solicitar amistad"></input>
                <input type="hidden" name="id" value=<%=amigo.id%>>
              </form>
              <% }else if(amigo.status == 0){ %>
                <h2>Pendiente</h2>
              <% } %>
            </div>
          </div>
          <% }) %>
          
        </div>
      </div>
    </div>

  </body>
</html>
